body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('pictures/Civilization 250.jpg');
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    text-align: center;
    background-size: auto;
    font-family: 'Roboto', sans-serif;
}

main, header, footer {
    color: white; /* Change this to the color you want */
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.paragraph {
    width: 60%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}

.description-picture {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}

.description-picture .description {
    flex: 1;
    margin-right: 10px;

}

.description-picture .picture {
    flex: 1;
    margin-left: 10px;
    width: 30%;
}